<div class="home">
  <h3>Simulate and Understand</h3>
  <h1>The Monty Hall Problem</h1>
  <div class="row">
    <div class="col">
      <div class="img-container">
        <img
          src="../../../assets/goat.png"
          alt="goat driving car"
          class="fit-image"
        />
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div>
        <p>
          The Monty Hall is a brain teaser, in the form of a probability puzzle,
          loosely based on the American television game show
          <em>Let's Make a Deal</em> and named after its original host,
          <em>Monty Hall.</em><br /><br />
          Player is presented with three closed doors - behind one is a car, and
          behind the other 2 are goats. Player has to choose one of the three
          doors. while it remains closed presenter opens a door with a goat
          behind it. Now the Player is given an opportunity to switch to the
          remaining closed door or stick with the initial choice.<br /><br />This
          simulation helps to undertand when the player chooses to switch the
          doors, there is a greater chance of wining the game than sticking into
          the first choice.<br /><br />Notice that this decision only increase
          the chance or the probability of wining. Cannot gauratee the player is
          always going to win. 🤞✌
        </p>
        <button (click)="login()" class="btn btn-outline-warning">
          Try Simulation
        </button>
      </div>
    </div>
  </div>
</div>
