<div class="home">
  <h3>Simulate and Understand</h3>
  <h1>The Monty Hall Problem</h1>
  <div class="row">
    <div class="col">
      <div class="img-container">
        <img
          src="../../../assets/goat.png"
          alt="goat driving car"
          class="fit-image"
        />
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit in
          cupiditate, ea natus impedit obcaecati eveniet voluptate aperiam,
          assumenda perferendis corrupti eius nulla quos tempora molestiae
          perspiciatis dignissimos doloribus deleniti.
          ijsadnbcviapdbujiabuugbiup
        </p>
        <button (click)="login()" class="btn btn-outline-warning">
          Try Simulation
        </button>
      </div>
    </div>
  </div>
</div>
